<configuration>

	<include resource="org/springframework/boot/logging/logback/defaults.xml" />
	<logger name="eu.gaix.trust.train.tspa" level="DEBUG" />
		
	<!-- Console Appender -->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<append>true</append>
		<immediateFlush>true</immediateFlush>
		<encoder>
			<pattern>${CONSOLE_LOG_PATTERN}</pattern>
			<charset>utf8</charset>
		</encoder>
	</appender>
	<!-- File Appender -->
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/logger_tspa.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${catalina.base:-.}/logs/app-%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
		<append>true</append>
		<immediateFlush>true</immediateFlush>
		<encoder>
			<pattern>${FILE_LOG_PATTERN}</pattern>
			<charset>utf8</charset>
		</encoder>
	</appender>

	<!-- Root Logger -->
	<root level="INFO">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</root>

</configuration>
