extends ../layout

block content 

  .container
    h1.mt-md-5.mb-md-5.mt-sm-4.mb-sm-4.mt-3.mb-3 There was an error with your submission.
    p Please review your submission and try again.
    a.btn.submitBtn.mb-5(href='/form/gccn-network-entry-submission/1') Return