html(lang='en')
    body     
        h1 GCCN Trust Registry Network
        h2 A new registry entry has been submitted for review
        p=`${entityName} has created a registry entry and submitted it for you to review.`
        h2 Next steps:
        p 
            a(href=submissionReviewLink) Click here
            span  to review this submission, make changes, or accept it into the registry.