html(lang='en')
    body     
        p Thank you for your enrollment request. Your submission for #{entityName} has been approved.
        p We will contact you shortly with the following steps in the onboarding process.
        
        br
        p RegiTrust
