html(lang='en')
    body     
        if isReviewer
            p A new Trust Service Provider Enrollment request has been received for #{entityName}.
            p 
                a(href=submissionReviewLink) Click here
                span  to review this request.
        else
            p Your enrollment request for #{entityName} is under review. You will be notified if approved.
        br
        p RegiTrust
