html(lang='en')
    body     
        p A new network entry has been submitted for #{entityName}.
        p 
            a(href=submissionReviewLink) Click here
            span  to review this submission, make changes, or accept it into the registry.
        br
        p RegiTrust
