html(lang='en')
    body     
        p Your network entry for #{entityName} was #{isApproved ? 'approved' : 'declined'}. by a registry reviewer #{isApproved ? 'and has been added to the registry' : ''}.
        p
            a(href=submissionReviewLink) Click here
            span  to view the submission.
        br
        p RegiTrust
