html(lang='en')
    body     
        if isSubmitterEdit 
            p A submission for #{entityName} has been updated.
            p 
                a(href=submissionReviewLink) Click here
                span  to view these changes or make any updates.
        else 
            p Your network entry submission for #{entityName} was modified by a registry reviewer.
            p 
                a(href=submissionReviewLink) Click here
                span  to view these changes or make any necessary updates.
        br
        p RegiTrust
