extends layout

block content
  .container(style='min-height:80vh;')
    h1.mt-5.mb-5 Digital TRUST Infrastructure for Discovery and Validation(Regi-TRUST)
    .article
      p
        span.
          Digital TRUST Infrastructure for Discovery and Validation (Regi-TRUST) is an infrastructure project sponsored and hosted at 
          the United Nations Development Programme (UNDP). The project is intended to develop and provide a suite of tools to enable 
          discovery and validation of trusted services by leveraging existing Internet infrastructures of the Domain Name System (DNS) 
          and its security extensions. 
      p
        span.
          Implementers can leverage the tools to create purpose-sized ‘networks of networks or ecosystems’ of trusted digital services 
          or service networks operated by all types of entities - allowing users to easily discover services in need and access relevant 
          service information through trusted endpoints and enabling informed decisions about whether to trust and use a service. Imagine 
          a global network of all COVID/immunization certificate services where you can be sure that participating service providers are 
          who they claim they are and you are accessing or directed to their vetted information (instead of phishing information) before 
          sharing your own data or using their services.
      p 
        span.
          Most importantly, Regi-TRUST can enable 'networks of networks' at a massive scale that today’s fully centralized model is not able 
          to. Thanks to the decentralized, cloud-agnostic architecture it adopts, any participating service of an implemented network or ecosystem 
          will be able to maintain the sovereignty and control of their own systems and data. Such an approach provides the necessary trust 
          infrastructure that can help to thwart the ubiquitous phishing attempts mimicking online service organizations, such as government 
          institutions, health providers and banks.  
     