html(lang='en')
    body     
        h1 GCCN Trust Registry Network
        h2 Changes were made to your registry entry submission by a reviewer
        p=`Your registry entry submission for ${entityName} was altered by a registry reviewer after their initial review.`
        h2 Next steps:
        p 
            a(href=submissionReviewLink) Click here
            span  to view these changes or make any necessary updates.