extends layout

block content
  .container(style='min-height:80vh;')
    h1.mt-5.mb-5 GCCN Trust Registry Network
    .article
      p
        a(href='https://www.lfph.io/global-covid-certificate-network/')
          span Global COVID Certificate Network
        span (GCCN) is an initiative at 
        a(href='https://www.lfph.io/')
          span Linux Foundation Public Health
        span
          | , a Linux Foundation project that builds, secures, and sustains open source software to help public health authorities (PHAs) combat COVID-19 and future epidemics.
      p
        span.
          We launched GCCN in June 2021 to enable interoperable and trustworthy verification of COVID certificates between jurisdictions for safe border reopening. 
          One of the key challenges that we aim to address through GCCN is the lack of a global trust architecture. 
          We have seen many small and large centralized trust ecosystems, such as the EU Digital COVID Certificate Gateway, 
          but without a further mechanism that can allow these centralized ecosystems to establish trust with each other, 
          there won't be interoperability at the global level.
      p 
        span.
          The GCCN Trust Registry Network is an online resource that provides human and machine readable information pertaining to it's network entries. Network participants consist of public and private sector entities providing the issuance and/or verification of digital or digitized paper Certificates, Credentials or Passes required for use by jurisdictions to allow free and safe movement within or across locales. 
      p    
        span.  
          The GCCN Trust Registry Network will provide it's users with qualitative information regarding the validity of each registry entry. The Registry Network will support pre-operational discovery of any registry entry, presenting registry users with vetted descriptions for each registry entry.
